#timeSpentCard{
    background-color: #D0D0E6;
    width: 17vw;
    height: 17vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#timeSpenth3{
    font-size: 1vw;
    margin: 0
}

#timeSpenth2{
    font-size: 2vw;
    color: #FFA115;
    margin: 0
}

#timeSpenth1{
    font-size: 4vw;
    color: #FFA115;
    margin: 0;
    line-height: 80%;
    margin-top: 10%;
}