#username-button {
    color: #FFA115;
    font-weight: bold;
    background-color: transparent;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
}

.dropdownItemNextUI {
    color: #343434;
    text-decoration: none;
}

.dropdownItemNextUI p{
    margin: 5px;
}

#dropdown-username{
    background-color: #aeaec0;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}